<!DOCTYPE html>
<html>
<head>
    <title>*** NHN KCP API SAMPLE ***</title>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes, target-densitydpi=medium-dpi">  
    <link href="/public/static/css/style.css" rel="stylesheet" type="text/css" id="cssLink"/>
    <script type="text/javascript">
        function changePayMethod() 
        {
        	const selects = document.getElementsByName('pay_method');
        	const select = selects[0];
        	const opt = select.selectedOptions[0];
        	document.order_info.van_code.value = opt.dataset.vanCode || '';
        }

        // 주문번호 생성 예제
        function init_orderid()
        { 
            var today = new Date();
            var year  = today.getFullYear();
            var month = today.getMonth()+ 1;
            var date  = today.getDate();
            var time  = today.getTime();

            if(parseInt(month) < 10)
            {
                month = "0" + month;
            }

            var vOrderID = "TEST" + year + "" + month + "" + date + "" + time;

            document.forms[0].ordr_idxx.value = vOrderID;
        }
    </script>
</head>
<body onload="init_orderid();">
    <div class="wrap">
        <form name="order_info" method="post" action="/mobile_sample/kcp_api_trade_reg" >
            <div class="header">
                <a href="/" class="btn-back"><span>뒤로가기</span></a>
                <h1 class="title">주문/결제 SAMPLE</h1>
            </div>
            <div id="skipCont" class="contents">
                <p class="txt-type-1">이 페이지는 거래등록을 요청하는 샘플 페이지입니다.</p>
                <h2 class="title-type-3">거래등록</h2>
                <ul class="list-type-1">
                    <li>
                        <div class="left"><p class="title">주문번호</p></div>
                        <div class="right">
                            <div class="ipt-type-1 pc-wd-2">
                                <input type="text" name="ordr_idxx" value="" maxlength="50" />
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="left"><p class="title">상품명</p></div>
                        <div class="right">
                            <div class="ipt-type-1 pc-wd-2">
                                <input type="text" name="good_name" value="운동화" />
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="left"><p class="title">결제금액</p></div>
                        <div class="right">
                            <div class="ipt-type-1 gap-2 pc-wd-2">
                                <input type="text" name="good_mny" value="1004" maxlength="9" />
                                <span class="txt-price">원</span>
                            </div>
                        </div>
                    </li>
                </ul>
                <h2 class="title-type-3">결제수단</h2>
                <ul class="list-type-1">
                    <li>
                        <div class="left"><p class="title">결제수단</p></div>
                        <div class="right">
                            <div class="ipt-type-1 pc-wd-2">
                                <select name="pay_method" onchange="changePayMethod()" style="width:100%;height:35px;">
	                                <option value="" selected>선택하십시오</option>
									<option value="CARD" data-van-code="">신용카드</option>
									<option value="BANK" data-van-code="">계좌이체</option>
									<option value="MOBX" data-van-code="">휴대폰</option>
									<option value="TPNT" data-van-code="SCSK">OK캐쉬백</option>
									<option value="TPNT" data-van-code="SCWB">베네피아 복지포인트</option>
									<option value="GIFT" data-van-code="SCBL">도서문화 상품권</option>
									<option value="GIFT" data-van-code="SCCL">컬쳐랜드 상품권</option>
                                    <option value="GIFT" data-van-code="SCHM">해피머니 상품권</option>
                                </select>
                            </div>
                        </div>
                    </li>
                </ul> 
                <div Class="Line-Type-1"></div>
                <ul class="list-btn-2">
                    <li class="pc-only-show"><a href="/" class="btn-type-3 pc-wd-2">뒤로</a></li>
                    <li><input type="submit" class="submit" value="거래등록"></li> 
                </ul>
            </div>

            <div class="grid-footer">
                <div class="inner">
                    <div class="footer">
                        ⓒ NHN KCP Corp.
                    </div>
                </div>
            </div>
        
            <input type="hidden" name="Ret_URL"         value="https://.../mobile_sample/order_mobile" />
            <input type="hidden" name="user_agent"      value="" />
            <input type="hidden" name="site_cd"         value="T0000" />
            <input type="hidden" name="van_code"        value="" />
        </form>
    </div>
</body>
</html>